@use "./variables" as *;

header {
  position: sticky;
  color: $color-text;
  top: 0;        
  z-index: 1000;       
  font-family: "Montserrat";

  background-image: linear-gradient(
    to bottom,
    rgba(#F2ECEC, 100%),
    rgba(#F2ECEC, 10%)
  );
  backdrop-filter: blur(4px);
  display: flex;
  justify-content: center;

  button {
    color: $color-text;
    background-color: transparent;
    border: none;
    font-weight: 700;
    font-family: "monserrat";
    font-size: 1.25rem;
    height: 56px;
    margin-left: 28px;
    margin-right: 28px;
    text-wrap: nowrap;

    &:hover {
      cursor: pointer;
    }
  }
  .active {
    color: $color-conter;
  }
}
